<!DOCTYPE html>
<html>
<head>
	<title>Apple</title>
		<meta charset="utf-8">
		<link th:href="@{/css/cadastro.css}" rel="stylesheet" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url('../img/madeira.jpg');">
			<a class="navbar-brand" href="#">
			    <img src="../img/brasil.jpg" width="50" height="30" class="d-inline-block align-top" alt="">
			 </a>
		  <a class="navbar-brand" href="/" style="color: lightgreen">Apple</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
				<a class="nav-item nav-link" href="/produtos/">Produtos</a>
				<a class="nav-item nav-link" href="/venda/carrinho">Carrinho</a>
				<a class="nav-item nav-link" href="/venda/historico">Historico</a>
				<a class="nav-item nav-link" href="/logar">Entrar</a>
				<a class="nav-item nav-link" href="/venda/logout">Sair</a>
		    </div>
		  </div>
		</nav>
	</header>

	<div class="container container-fluid">
		<div class="row">
			<div class="col-md-6">
				<form action="/usuarios/logar" method="POST">
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter login" name="username">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Senha</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
				  </div>
				  <input type="submit" class="btn btn-primary" value="Entrar"></input>
				  <a href="/cadastro" class="btn btn-success">Cadastrar</a>
				</form>
			</div>
		</div>
	</div>

</body>
</html>